.one {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  font-size: 36px;
  text-align: center;
  color: #000000c5;
}

p {
  font-size: 30px;
  color: #000000c5;
  font-weight: 600;
}

.two {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/zara.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.three {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/lacoste.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.four {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/louis\ vuitton.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
